src/CyberGear.Control/.vs/
src/CyberGear.Control/bin/
src/CyberGear.Control/obj/
src/CyberGearPlayground/obj/
src/CyberGearPlayground/bin/
.vs/
*.user
test/CyberGear.Control.Tests/obj
test/CyberGear.Control.Tests/bin